<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content=""IE=edge">
        <meta name="viewpoint content="width=device-width,initial-scale=1.0">
        <title>login page</title>
        <link rel="stylesheet" href="/public/register.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <div class="wrapper">
            <form action="" id="register">
                <h1>Sign In</h1>
                <div class="input-box">
                    <div id="pp">Name</div>
                    <input type="text" id="name" placeholder="Username"requried>
                    
                     
                </div>
                <div class="input-box">
                    <div id="pp">E-mail Address </div>
                    <input type="email" id="mail" placeholder="E-mail"requried>
                    
                     
                </div>
                <div class="input-box">
                    <div id="pp">Password</div>
                    <input type="password" id="password" placeholder="Password"requried>
                                       
                </div>
                <div class="input1">
                    <div id="pp">Confirm Password</div>
                    <input type="password" id="confpass" placeholder="Confirm-password"requried>
                     
                </div>
                <button type="submit" class="btn" ><a href="#">Submit</a></button>
                <d class="comeback">
                    <p>Have an account already?<a href="login.html"> Go Back</a></p>

                </d>
                
        
            </form>
        </div>
            <script src="/images -js/register.js">
                
            </script>

    </body>

    
    

</html>